.btop{
	border-top: 2px solid #000000;
}
.bleft{
	border-left: 2px solid #000000;
}
.bright{
	border-right: 2px solid #000000;
}
.bbottom{
	border-bottom: 2px solid #000000;
}
#inputTime{
	border-radius: 0;
	cursor: default;
    background-color: #fff;
}
#inputTime1{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: default;
    background-color: #fff;
}
.time_label{
	display: none;
}
@media screen and (max-width: 767px){
	#time_input_mob{
		display: block;
	}
	#time_input_pc{
		display: none;
	}
}
@media screen and (min-width: 767px){
	#time_input_pc{
		display: block;
	}
	#time_input_mob{
		display: none;
	}
}
@media (min-width: 768px){
	.navbar-te {
		color: #777;
	    float: left;
	    margin: 3px 20px 3px;
	}
}
@media screen and (max-width: 767px){
	#hide_mob{
		display: block;
	}
	#hide_pc{
		display: none;
	}
}
@media screen and (min-width: 767px){
	#hide_pc{
		display: block;
	}
	#hide_mob{
		display: none;
	}
}
.navbar-te {
	color: #777;
	margin: 3px 20px 3px;
}
#inputSerchDayform{
	margin-left: 0px;
	margin-right: 0px;
}
.datepicker table tr td.acty {
  color: #000;
  background-color: #83c0f5;
  border-color: #70b8f7;
}
.datepicker table tr td.acty:focus,
.datepicker table tr td.acty.focus {
  color: #000;
  background-color: #61aef1;
  border-color: #5389b7;
}
.datepicker table tr td.acty:hover {
  color: #000;
  background-color: #61aef1;
  border-color: #60aff5;
}
.datepicker table tr td.acty:active,
.datepicker table tr td.acty.active {
  color: #000;
  background-color: #61aef1;
  border-color: #60aff5;
}
.myalert{
	margin: 0px auto 7px auto;
	display: table;
}
.myalert button {
	margin-left: 15px;
}
#block_alerts{
	position: fixed;
    width: 100%;
    bottom: 0px;
}
@media (min-width: 1400px) {
	.contain {
		width: 1370px;
	}
}
@media (min-width: 1600px) {
	.contain {
		width: 1570px;
	}
}
@media (min-width: 1800px) {
	.contain {
		width: 1770px;
	}
}