<table class="table table-bordered">
    <thead>
    <tr class="btop bleft bbottom bright">
        <th class="text-center">№</th>
        <th class="text-center">Время</th>
        <th class="text-center">ауд.</th>
        <th class="text-center">Название</th>
        <th class="text-center">Тип</th>
        <th class="text-center">Преподаватель</th>
        <th class="text-center">Недели</th>
        <th class="text-center" style="padding-top: 8px; padding-bottom: 4px;"><span style="font-size: large"><span class="glyphicon glyphicon-cog"></span></span></th>
    </tr>
    </thead>
    <tbody class="text-center">
        {list_pars}
        <tr class="bbottom bright bleft"><td colspan="8" style="padding: 0px; width: 100%;"><div style="width: 100%; margin: 0px;" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></div></td></tr>
    </tbody>
</table>