<div class="panel panel-default">
    <div class="panel-heading">Расписание</div>
    <div id="raspispisnie" class="table-responsive">
        <div style="margin-top: 15px;">
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Понедельник</h3>
                    </div>
                    {monday}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Вторник</h3>
                    </div>
                    {tuesday}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Среда</h3>
                    </div>
                    {wednesday}
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Четверг</h3>
                    </div>
                    {thursday}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Пятница</h3>
                    </div>
                    {friday}
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Суббота</h3>
                    </div>
                    {saturday}
                </div>
            </div>
        </div>
        <div>
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Воскресенье</h3>
                    </div>
                    {sunday}
                </div>
            </div>
        </div>
    </div>
</div>