<tr class="para_num_1 bright bleft">
    <td class="time_para" rowspan="2"><b>{id}</b><br>{time}</td>
    <td colspan="3">{name} <span class="label label-default">{type}</span></td>
</tr>
<tr class="para_num_1 bright">
    <td >{auditor}</td>
    <td >{prepod}</td>
    <td style="padding: 0px;"><div style="width: 100%; margin: 0px; border: 2px solid #000000; border-right: none; border-radius: unset;" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></div></td>
</tr>
<tr class="para_num_1 bleft bbottom bright">
    <td colspan="4"><b>Недели: </b>{weeks}</td>
</tr>