<tr class="para_num_1 bright bleft">
    <td class="time_para" rowspan="2"><b>1</b><br>(9:00-10:35)</td>
    <td colspan="3">Безопасность жизнедеятельности <span class="label label-default">Лабораторная работа</span></td>
</tr>
<tr class="para_num_1 bright">
    <td >502/1</td>
    <td ><span data-toggle="tooltip" class="teacher" title="" data-original-title="Иванов Владимир Кузьмович"><i>Иванов В.К.</i></span></td>
    <td style="padding: 0px;"><div style="width: 100%; margin: 0px; border: 2px solid #000000; border-right: none; border-radius: unset;" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></div></td>
</tr>
<tr class="para_num_1 bleft bbottom bright">
    <td colspan="4"><b>Недели: </b>2, 4, 6, 8, 10, 12, 13, 14, 16, 2, 4, 6, 8, 10, 12, 13, 14, 16</td>
</tr>