<tr class="para_num_1 bright bleft">
    <td class="time_para" rowspan="2" style="border-bottom: 2px solid #000000;"><b>1</b><br>(9:00-10:35)</td>
    <td colspan="2">Безопасность жизнедеятельности <span class="label label-default">Лабораторная работа</span></td>
</tr>
<tr class="para_num_1 bbottom bright">
    <td style="word-wrap: break-word;">502/1</td>
    <td><span data-toggle="tooltip" class="teacher" title="" data-original-title="Иванов Владимир Кузьмович"><i>Иванов В.К.</i></span></td>
</tr>